.bar.bar-header {
    height: 60px;

    h1.title {
        color: #ffffff;
        text-align: left;
        padding-left: 42px;
    }

    .profile-picture {
        width: 35px;
        height: 35px;
        border: 1px #ffffff solid;
        border-radius: 100000px;
    }
}
