/** Header **/
.bar-header {
  position: relative;
  background-color: #25d7ab;
}
.tabs-top > .tabs {
  color: #7e7e7e;
  height: 72px;
  border-bottom: 0;
  position: initial;

  .active {
    color: #25d7ab;
  }

  .ion-chatbubble-working {
    transform: scale(-1, 1);
  }
}

.tabs-striped .tabs .tab-item.active {
  border-color: #25d7ab;
}


.bar.bar-header {
    height: 65px;

    .logo {
        height: 40px;
        width: 40px;
        margin-top: 6px;
        margin-left: 7px;
    }

    .buttons.left {
        margin-left: 10px;
    }

    h1.title {
        color: #ffffff;
        text-align: left;
        padding-left: 42px;
        margin-top: 8px;
        margin-left: 40px;
    }

    .profile-picture {
        width: 35px;
        height: 35px;
        border: 1px #ffffff solid;
        border-radius: 100000px;
        margin-top: 9px;
        margin-right: 9px;
    }
}
