chat-manager {
  background-color: #F6F6F6;
  overflow: hidden;
  height: 100%;
  display: block;
}

chat-message {
  margin: 15px auto;
  display: block;
  width: 90%;
}

.no-message {
  align-self: center;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.3em;
  width: 70%;
  margin: 30% auto;
  color: #7e7e7e;

  .icon {
    font-size: 5em;
  }
}
