itineraries {
  background-color: #F6F6F6;
  overflow: hidden;
  height: 100%;
  display: block;

  .container {
    align-self: center;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.3em;
    width: 70%;
    margin: 30% auto;
    color: #7e7e7e;
    display: block;

    .icon {
      font-size: 5em;
    }
  }


  .button.ion-plus {
    position: absolute;
    bottom: 30px;
    right: 10%;
    background: #25d7ab;
    font-weight: bold;
    color: white;
    border-radius: 50%;
  }
}
